{% extends "base/skeleton.html" %}

{% load staticfiles %}

{% block page_title %}
	Terms of Use
{% endblock page_title %}

{% block header %}
	{% include "base/headers/user_profile_header.html" %}
{% endblock header%}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="page-header">
					<h2>DocApp Terms of Use</h2>
				
				</div>
                <p class="well">
                    
                </p>
                
              
			</div>
		</div>

	</div>
{% endblock body %}
