	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
            <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
			<a style="font-family: 'Montserrat', sans-serif;font-size:20px"class="navbar-brand" href="/">DocApp</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				
				{% if request.user.is_authenticated %}
				<h5>
					<a class="btn btn-info pull-right" href="/account/logout/" >Logout</a>
				</h5>
			
				<h4 class="pull-right">{{ request.user.username }}</h4>
				{% else %}
				<div>
				<h5>
					<a class="btn btn-info pull-right" style="margin-left:5px" href="/account/register/" >Sign Up</a>
				</h5>
				<h5>
					<a class="btn btn-info pull-right"  href="/account/login/" >Login</a>
				</h5>
				{% endif %}
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>